version: 2
jobs:
  build:
    docker:
      - image: minepicco/cci-aws-docker:latest
        #aws_auth:
        #  aws_access_key_id: $AWS_ACCESS_KEY_ID
        #  aws_secret_access_key: $AWS_SECRET_ACCESS_KEY
    steps:
      - checkout
      - setup_remote_docker

      - run:
          name: build
          command: docker build -t $image .
      - run:
          name: docker login
          command: docker login -u $username -p $password #-e $mailaddress     
      - run:
          name: docker push
          command: docker push $image
